<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Includes/_Header.cshtml" />
    <title>Sharp Studio</title>
</head>
<body>
    <partial name="~/Views/Includes/_Navbar.cshtml" />
    <partial name="~/Views/Includes/_AlertsPageTop.cshtml" />

    <div class="container mt-3">
        <h1>Sharp Studio - Homepage</h1>
    </div>


    <partial name="~/Views/Includes/_Footer.cshtml" />
    <script src="~/js/dist/app.bundle.js"></script>

</body>
</html>
